<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Comment</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div>
    <nav>
        <a class="title" th:href="@{'/'}">OnlineLibrary</a>
        <div class="buttons" th:if="${session.user != null}">
            <a class="button" th:if="${session.user.isAdmin()}" th:href="@{'/panel'}">Control Panel</a>
            <span th:text="'Welcome, ' + ${session.user.username} + '!'"></span>
            <a class="button" th:unless="${session.user.isAdmin()}" th:href="@{'/cart'}">Cart</a>
            <a class="button" th:unless="${session.user.isAdmin()}" th:href="@{'/orders'}">Orders</a>
            <a class="button" th:href="@{'/profile'}">Profile</a>
            <a class="button" th:href="@{'/logout'}">Logout</a>
        </div>
        <div class="buttons" th:unless="${session.user != null}">
            <a class="button" th:href="@{'/login'}">Login</a>
            <a class="button" th:href="@{'/register'}">Register</a>
        </div>
    </nav>
    <h1 class="book">Edit User</h1>
    <form class="columnForm" method="post" th:action="@{'/user/edit/' + ${user.id}}">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{user.username}"/><br/>

        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{user.email}"/><br/>

        <label for="password">Password:</label>
        <input type="text" id="password" th:field="*{user.password}"/><br/>

        <button class="button" type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>
