<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineLibrary</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div>
    <nav>
        <a class="title" th:href="@{'/'}">OnlineLibrary</a>
        <div class="buttons" th:if="${session.user != null}">
            <a class="button" th:if="${session.user.isAdmin()}" th:href="@{'/panel'}">Control Panel</a>
            <span th:text="'Welcome, ' + ${session.user.username} + '!'"></span>
            <a class="button" th:unless="${session.user.isAdmin()}" th:href="@{'/cart'}">Cart</a>
            <a class="button" th:unless="${session.user.isAdmin()}" th:href="@{'/orders'}">Orders</a>
            <a class="button" th:href="@{'/profile'}">Profile</a>
            <a class="button" th:href="@{'/logout'}">Logout</a>
        </div>
        <div class="buttons" th:unless="${session.user != null}">
            <a class="button" th:href="@{'/login'}">Login</a>
            <a class="button" th:href="@{'/register'}">Register</a>
        </div>
    </nav>

    <div class="panel" th:if="${session.user != null} and ${session.user.isAdmin()}">
        <a class="button" th:href="@{'/panel/books'}">Books</a>
        <a class="button" th:href="@{'/panel/users'}">Users</a>
        <a class="button" th:href="@{'/panel/comments'}">Comments</a>
        <a class="button" th:href="@{'/statistics'}">Statistics</a>
    </div>

</div>
</body>
</html>
