<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineLibrary</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div>
    <nav>
        <a class="title" th:href="@{'/'}">OnlineLibrary</a>
        <div class="buttons" th:if="${session.user != null}">
            <a class="button" th:if="${session.user.isAdmin()}" th:href="@{'/panel'}">Control Panel</a>
            <span th:text="'Welcome, ' + ${session.user.username} + '!'"></span>
            <a class="button" th:unless="${session.user.isAdmin()}" th:href="@{'/cart'}">Cart</a>
            <a class="button" th:unless="${session.user.isAdmin()}" th:href="@{'/orders'}">Orders</a>
            <a class="button" th:href="@{'/profile'}">Profile</a>
            <a class="button" th:href="@{'/logout'}">Logout</a>
        </div>
        <div class="buttons" th:unless="${session.user != null}">
            <a class="button" th:href="@{'/login'}">Login</a>
            <a class="button" th:href="@{'/register'}">Register</a>
        </div>
    </nav>
    <div class="center">
        <h1>Register</h1>
        <form class="columnForm" action="/register" method="post" th:object="${user}">
            <span class="validationError" th:if="${param.error}" th:text="${param.error}"></span>
            <div th:if="${#fields.hasErrors('username')}">
                <span class="validationError" th:errors="*{username}"></span>
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required/>
            </div>
            <div th:if="${#fields.hasErrors('email')}">
                <span class="validationError" th:errors="*{email}"></span>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required/>
            </div>
            <div th:if="${#fields.hasErrors('password')}">
                <span class="validationError" th:errors="*{password}"></span>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required/>
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required/>
            </div>
            <button class="button" type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>
